[Unit]
Description=FreeSWITCH
After=NetworkManager.service dnsmasq.service
Wants=dnsmasq.service

[Service]
Type=forking
User=freeswitch
Group=freeswitch
WorkingDirectory=/usr/local/freeswitch

ExecStartPre=/usr/local/bin/freeswitch-wait-eth0 eth0 192.168.50.1 30
ExecStart=/usr/local/freeswitch/bin/freeswitch -ncwait -nonat
ExecReload=/usr/local/freeswitch/bin/fs_cli -x "reloadxml"
ExecStop=/usr/local/freeswitch/bin/fs_cli -x "shutdown elegant"

PIDFile=/usr/local/freeswitch/run/freeswitch.pid
Restart=on-failure
RestartSec=5

LimitNOFILE=500000
LimitNPROC=20000
LimitRTPRIO=89
LimitRTTIME=infinity
Nice=-10

# Must be "no" because FreeSWITCH calls sudo disco-relay from bgsystem.
NoNewPrivileges=no
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
